<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <title>UserPage</title>
    <th:block th:replace="fragments :: headInclude"></th:block>
  </head>
  <body>
    <h1>Welcome <th:block th:text="${userName}"></th:block></h1>
    <a th:href="@{/user/add}">Create another user?</a>
    <a th:href="@{/}">Create a profile?</a>
    <ul th:each="user : ${users}">
      <a th:href="@{'../user/detail?userID=' + ${user.ID}}"
        ><li th:text="${user.userName}"></li
      ></a>
    </ul>
  </body>
</html>
